@{
    ViewBag.Title = "Funcionario excluido";
}

<h2>Funcionario excluido</h2>

<div>
    <p>O Funcionario foi excluido com sucesso.</p>
</div>

<div>
    <p><a href="/Funcionarios">Voltar para Listagem de Funcionarios</a></p>
</div>

